.container { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

.container { 
    max-width: 80rem; 
    width: 100%; 
    height: auto; 
    padding: 0 2rem; 
    margin: 0 auto; 
    padding-top: 0px; 
    padding-right: 2rem; 
    padding-bottom: 0px; 
    padding-left: 2rem; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 


.row { 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.col-md-6 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 768px){ 
  .col-md-6 { 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%; 
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 50%;
  } 
}     

.text-center { 
    text-align: center !important;
} 

.text-uppercase { 
    text-transform: uppercase !important;
} 

.match_title { 
    line-height: 1.3;
} 

table { 
    border-collapse: collapse;
} 

.table { 
    width: 100%; 
    margin-bottom: 1rem; 
    color: rgb(33, 37, 41);
} 

.table_bordered { 
    border: 1px solid #dee2e6; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(222, 226, 230); 
    border-right-color: rgb(222, 226, 230); 
    border-bottom-color: rgb(222, 226, 230); 
    border-left-color: rgb(222, 226, 230); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial;
} 

.mx-0 { 
    margin-right: 0px !important;
} 

.mx-0 { 
    margin-left: 0px !important;
} 

b { 
    font-weight: bolder;
} 

.text_success { 
    color: rgb(40, 167, 69) !important;
} 

.bg_light { 
    background-color: rgb(248, 249, 250) !important;
} 

.col-3 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-3 { 
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%; 
    max-width: 25%; 
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 25%;
} 

.p-0 { 
    padding: 0!important; 
    padding-top: 0px !important; 
    padding-right: 0px !important; 
    padding-bottom: 0px !important; 
    padding-left: 0px !important;
} 

.col-6 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-6 { 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%; 
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 50%;
} 

.col-12 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

.col-12 { 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%; 
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 100%;
} 

.my-3 { 
    margin-top: 1rem !important;
} 

.my-3 { 
    margin-bottom: 1rem !important;
} 

button { 
    border-radius: 0; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

button { 
    overflow: visible; 
    overflow-x: visible; 
    overflow-y: visible;
} 

button { 
    text-transform: none;
} 

[type="button"],button { 
    -webkit-appearance: button; 
    appearance: button;
} 

.btn { 
    display: inline-block; 
    font-weight: 400; 
    color: rgb(33, 37, 41); 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: transparent; 
    border-right-color: transparent; 
    border-bottom-color: transparent; 
    border-left-color: transparent; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    padding-top: 0.375rem; 
    padding-right: 0.75rem; 
    padding-bottom: 0.375rem; 
    padding-left: 0.75rem; 
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
    border-bottom-right-radius: 0.25rem; 
    border-bottom-left-radius: 0.25rem; 
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s; 
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out; 
    transition-delay: 0s, 0s, 0s, 0s; 
    transition-property: color, background-color, border-color, box-shadow;
} 

.btn-secondary { 
    color: rgb(255, 255, 255); 
    background-color: rgb(108, 117, 125); 
    border-color: #6c757d; 
    border-top-color: rgb(108, 117, 125); 
    border-right-color: rgb(108, 117, 125); 
    border-bottom-color: rgb(108, 117, 125); 
    border-left-color: rgb(108, 117, 125);
} 

.btn-block { 
    display: block; 
    width: 100%;
} 

.btn { 
    border-radius: 3px; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px; 
    border-bottom-left-radius: 3px;
} 

.wrn-btn { 
    width: 100%; 
    font-size: 16px; 
    font-weight: 400; 
    text-transform: capitalize; 
    height: calc(2rem + 2px) !important; 
    border-radius: 0; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
} 

[type="button"]:not(:disabled), button:not(:disabled) { 
    cursor: pointer;
} 

.btn:not(:disabled):not(.disabled) { 
    cursor: pointer;
} 

.btn:hover { 
    color: rgb(33, 37, 41); 
    text-decoration: none; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

.btn-secondary:hover { 
    color: rgb(255, 255, 255); 
    background-color: rgb(90, 98, 104); 
    border-color: #545b62; 
    border-top-color: rgb(84, 91, 98); 
    border-right-color: rgb(84, 91, 98); 
    border-bottom-color: rgb(84, 91, 98); 
    border-left-color: rgb(84, 91, 98);
} 

input { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

input { 
    overflow: visible; 
    overflow-x: visible; 
    overflow-y: visible;
} 

.form-control { 
    display: block; 
    width: 100%; 
    height: calc(1.5em + 0.75rem + 2px); 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: rgb(73, 80, 87); 
    background-color: rgb(255, 255, 255); 
    background-clip: padding-box; 
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    padding-top: 0.375rem; 
    padding-right: 0.75rem; 
    padding-bottom: 0.375rem; 
    padding-left: 0.75rem; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(206, 212, 218); 
    border-right-color: rgb(206, 212, 218); 
    border-bottom-color: rgb(206, 212, 218); 
    border-left-color: rgb(206, 212, 218); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
    border-bottom-right-radius: 0.25rem; 
    border-bottom-left-radius: 0.25rem; 
    transition-duration: 0.15s, 0.15s; 
    transition-timing-function: ease-in-out, ease-in-out; 
    transition-delay: 0s, 0s; 
    transition-property: border-color, box-shadow;
} 

.font-weight-bold { 
    font-weight: 700 !important;
} 

.form-control { 
    border-radius: 3px; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px; 
    border-bottom-left-radius: 3px;
} 

.search-slt { 
    display: block; 
    width: 100%; 
    font-size: 0.875rem; 
    line-height: 1.5; 
    background-color: rgb(255, 255, 255); 
    background-image: none; 
    border: 1px solid #ccc; 
    height: calc(2rem + 2px) !important; 
    border-radius: 0; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(204, 204, 204); 
    border-right-color: rgb(204, 204, 204); 
    border-bottom-color: rgb(204, 204, 204); 
    border-left-color: rgb(204, 204, 204); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
} 

.form-control[readonly] { 
    background-color: rgb(233, 236, 239); 
    opacity: 1;
} 

.btn-info { 
    color: rgb(255, 255, 255); 
    background-color: rgb(23, 162, 184); 
    border-color: #17a2b8; 
    border-top-color: rgb(23, 162, 184); 
    border-right-color: rgb(23, 162, 184); 
    border-bottom-color: rgb(23, 162, 184); 
    border-left-color: rgb(23, 162, 184);
} 

.btn-info:hover { 
    color: rgb(255, 255, 255); 
    background-color: rgb(19, 132, 150); 
    border-color: #117a8b; 
    border-top-color: rgb(17, 122, 139); 
    border-right-color: rgb(17, 122, 139); 
    border-bottom-color: rgb(17, 122, 139); 
    border-left-color: rgb(17, 122, 139);
} 

h3 { 
    margin-top: 0px; 
    margin-bottom: 0.5rem;
} 

h3 { 
    margin-bottom: 0.5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h3 { 
    font-size: 1.75rem;
} 

h3 { 
    font-family: Dosis, sans-serif;
} 

th { 
    text-align: -webkit-match-parent;
} 

.table th  { 
    padding: .75rem; 
    vertical-align: top; 
    border-top: 1px solid #dee2e6; 
    padding-top: 0.75rem; 
    padding-right: 0.75rem; 
    padding-bottom: 0.75rem; 
    padding-left: 0.75rem; 
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: rgb(222, 226, 230);
} 

.table-sm th  { 
    padding: .3rem; 
    padding-top: 0.3rem; 
    padding-right: 0.3rem; 
    padding-bottom: 0.3rem; 
    padding-left: 0.3rem;
} 

.table-bordered th  { 
    border: 1px solid #dee2e6; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(222, 226, 230); 
    border-right-color: rgb(222, 226, 230); 
    border-bottom-color: rgb(222, 226, 230); 
    border-left-color: rgb(222, 226, 230); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial;
} 

.table thead th  { 
    vertical-align: bottom; 
    border-bottom: 2px solid #dee2e6; 
    border-bottom-width: 2px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(222, 226, 230);
} 

.table-bordered thead th  { 
    border-bottom-width: 2px;
} 

.table td  { 
    padding: .75rem; 
    vertical-align: top; 
    border-top: 1px solid #dee2e6; 
    padding-top: 0.75rem; 
    padding-right: 0.75rem; 
    padding-bottom: 0.75rem; 
    padding-left: 0.75rem; 
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: rgb(222, 226, 230);
} 

.table-sm td  { 
    padding: .3rem; 
    padding-top: 0.3rem; 
    padding-right: 0.3rem; 
    padding-bottom: 0.3rem; 
    padding-left: 0.3rem;
} 

.table-bordered td  { 
    border: 1px solid #dee2e6; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(222, 226, 230); 
    border-right-color: rgb(222, 226, 230); 
    border-bottom-color: rgb(222, 226, 230); 
    border-left-color: rgb(222, 226, 230); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial;
} 

.text-info { 
    color: rgb(23, 162, 184) !important;
} 

.text-danger { 
    color: rgb(220, 53, 69) !important;
} 

.form-check-inline { 
    display: inline-flex; 
    -ms-flex-align: center; 
    align-items: center; 
    padding-left: 0px; 
    margin-right: 0.75rem;
} 

.border { 
    border: 1px solid #dee2e6!important; 
    border-top-width: 1px !important; 
    border-right-width: 1px !important; 
    border-bottom-width: 1px !important; 
    border-left-width: 1px !important; 
    border-top-style: solid !important; 
    border-right-style: solid !important; 
    border-bottom-style: solid !important; 
    border-left-style: solid !important; 
    border-top-color: rgb(222, 226, 230) !important; 
    border-right-color: rgb(222, 226, 230) !important; 
    border-bottom-color: rgb(222, 226, 230) !important; 
    border-left-color: rgb(222, 226, 230) !important; 
    border-image-source: initial !important; 
    border-image-slice: initial !important; 
    border-image-width: initial !important; 
    border-image-outset: initial !important; 
    border-image-repeat: initial !important;
} 

.border-success { 
    border-color: #28a745!important; 
    border-top-color: rgb(40, 167, 69) !important; 
    border-right-color: rgb(40, 167, 69) !important; 
    border-bottom-color: rgb(40, 167, 69) !important; 
    border-left-color: rgb(40, 167, 69) !important;
} 

.px-2 { 
    padding-right: 0.5rem !important;
} 

.px-2 { 
    padding-left: 0.5rem !important;
} 

.border-danger { 
    border-color: #dc3545!important; 
    border-top-color: rgb(220, 53, 69) !important; 
    border-right-color: rgb(220, 53, 69) !important; 
    border-bottom-color: rgb(220, 53, 69) !important; 
    border-left-color: rgb(220, 53, 69) !important;
} 

.border-warning { 
    border-color: #ffc107!important; 
    border-top-color: rgb(255, 193, 7) !important; 
    border-right-color: rgb(255, 193, 7) !important; 
    border-bottom-color: rgb(255, 193, 7) !important; 
    border-left-color: rgb(255, 193, 7) !important;
} 

.form-group { 
    margin-bottom: 1rem;
} 

label { 
    display: inline-block; 
    margin-bottom: 0.5rem;
} 

.form-check-label { 
    margin-bottom: 0px;
} 

.form-check-label { 
    font-size: 20px;
} 

.text-warning { 
    color: rgb(255, 193, 7) !important;
} 

.custom-file { 
    position: relative; 
    display: inline-block; 
    width: 100%; 
    height: calc(1.5em + 0.75rem + 2px); 
    margin-bottom: 0px;
} 

img { 
    vertical-align: middle; 
    border-style: none; 
    border-top-style: none; 
    border-right-style: none; 
    border-bottom-style: none; 
    border-left-style: none;
} 

.img-thumbnail { 
    padding: .25rem; 
    background-color: rgb(255, 255, 255); 
    border: 1px solid #dee2e6; 
    border-radius: .25rem; 
    max-width: 100%; 
    height: auto; 
    padding-top: 0.25rem; 
    padding-right: 0.25rem; 
    padding-bottom: 0.25rem; 
    padding-left: 0.25rem; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(222, 226, 230); 
    border-right-color: rgb(222, 226, 230); 
    border-bottom-color: rgb(222, 226, 230); 
    border-left-color: rgb(222, 226, 230); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
    border-bottom-right-radius: 0.25rem; 
    border-bottom-left-radius: 0.25rem;
} 

textarea { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

textarea { 
    overflow: auto; 
    resize: vertical; 
    overflow-x: auto; 
    overflow-y: auto;
} 

textarea.form-control { 
    height: auto;
} 

.text-left { 
    text-align: left !important;
} 

[type="submit"],button { 
    -webkit-appearance: button; 
    appearance: button;
} 

.btn-success { 
    color: rgb(255, 255, 255); 
    background-color: rgb(40, 167, 69); 
    border-color: #28a745; 
    border-top-color: rgb(40, 167, 69); 
    border-right-color: rgb(40, 167, 69); 
    border-bottom-color: rgb(40, 167, 69); 
    border-left-color: rgb(40, 167, 69);
} 

.btn-success { 
    background-color: rgb(254, 87, 34) !important; 
    border-color: #FE5722!important; 
    border-top-color: rgb(254, 87, 34) !important; 
    border-right-color: rgb(254, 87, 34) !important; 
    border-bottom-color: rgb(254, 87, 34) !important; 
    border-left-color: rgb(254, 87, 34) !important;
} 

 [type="submit"]:not(:disabled), button:not(:disabled) { 
    cursor: pointer;
} 

.btn-success:hover { 
    color: rgb(255, 255, 255); 
    background-color: rgb(33, 136, 56); 
    border-color: #1e7e34; 
    border-top-color: rgb(30, 126, 52); 
    border-right-color: rgb(30, 126, 52); 
    border-bottom-color: rgb(30, 126, 52); 
    border-left-color: rgb(30, 126, 52);
} 

.form-check-input { 
    position: absolute; 
    margin-top: 0.3rem; 
    margin-left: -1.25rem;
} 

input[type="radio"] { 
    box-sizing: border-box; 
    padding: 0; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.form-check-inline .form-check-input  { 
    position: static; 
    margin-top: 0px; 
    margin-right: 0.3125rem; 
    margin-left: 0px;
} 

.custom-file-input { 
    position: relative; 
    z-index: 2; 
    width: 100%; 
    height: calc(1.5em + 0.75rem + 2px); 
    margin: 0; 
    opacity: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

.custom-file-label { 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    left: 0px; 
    z-index: 1; 
    height: calc(1.5em + 0.75rem + 2px); 
    padding: .375rem .75rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: rgb(73, 80, 87); 
    background-color: rgb(255, 255, 255); 
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    padding-top: 0.375rem; 
    padding-right: 0.75rem; 
    padding-bottom: 0.375rem; 
    padding-left: 0.75rem; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(206, 212, 218); 
    border-right-color: rgb(206, 212, 218); 
    border-bottom-color: rgb(206, 212, 218); 
    border-left-color: rgb(206, 212, 218); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
    border-bottom-right-radius: 0.25rem; 
    border-bottom-left-radius: 0.25rem;
} 

.custom-file-label { 
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    transition-duration: 0.15s, 0.15s, 0.15s; 
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out; 
    transition-delay: 0s, 0s, 0s; 
    transition-property: background-color, border-color, box-shadow;
} 

.custom-file-label:after { 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    z-index: 3; 
    display: block; 
    height: calc(1.5em + 0.75rem); 
    padding: .375rem .75rem; 
    line-height: 1.5; 
    color: rgb(73, 80, 87); 
    content: "Browse"; 
    background-color: rgb(233, 236, 239); 
    border-left: inherit; 
    border-radius: 0 .25rem .25rem 0; 
    padding-top: 0.375rem; 
    padding-right: 0.75rem; 
    padding-bottom: 0.375rem; 
    padding-left: 0.75rem; 
    border-left-width: inherit; 
    border-left-style: inherit; 
    border-left-color: inherit; 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0.25rem; 
    border-bottom-right-radius: 0.25rem; 
    border-bottom-left-radius: 0px;
} 

input[type="checkbox"] { 
    box-sizing: border-box; 
    padding: 0; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

small { 
    font-size: 80%;
} 

small { 
    font-size: 80%; 
    font-weight: 400;
} 


    .form-check-inline {
        width: 100%;
        margin-top: 10px;
    }
