.footer {
    background: linear-gradient(to right, #ff416c, #ff4b2b) !important;
    z-index: 99999;
    /* padding: -1 !important; */
}

.footer .bottom-nav {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.8rem 0;
    background-color: #FE5722;
    z-index: 99;
    will-change: transform;
    transform: translateZ(0);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 24%);
}


.footer .bottom-nav .active {
    color: #f5e10a;
}

.footer .bottom-nav-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    color: #f1f5f8;
}
.fa-home:before {
    content: "\f015";
    font-family: "FontAwesome";
    font-style: normal;
}
.fa-dice-six:before {
    content: "\f526";
    font-family: "FontAwesome";
    font-style: normal;
}
.fa-wallet:before {
    content: "\f555";
    font-family: "FontAwesome";
    font-style: normal;
}
.fa-university:before {
    content: "\f19c";
    font-family: "FontAwesome";
    font-style: normal;
}