.container {
    max-width: 80rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem; 
    padding-bottom: 50px;
    /* flex-direction: column-reverse; */
}

#hero{
    padding-bottom: 50px;
}

#hero h1 {
    margin: 0;
    font-size: 35px;
    font-weight: 600;
    line-height: 46px;
    color: #0f394c;
    text-transform: uppercase;
}

#hero h2 {
    color: #1c698c;
    margin: 10px 0 0 0;
    font-size: 20px;
}
#hero .btn-get-started {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    z-index: 9999999999;
    /* margin-top: 25px; */
    color: rgb(0, 0, 0) !important;
    background-color: #49b5e7;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width: 768px){
#hero h2 {
    font-size: 18px;
    line-height: 24px;
}
}
@media (max-width: 768px){
#hero h1 {
    font-size: 28px;
    line-height: 36px;
}
}
@media screen and (max-width: 768px){
#hero{
        width:100%;
        height:100%;
        background-color: #f9f9f9;
        text-align: center;
    }
        
}
@media screen and (max-width: 768px) {
        #hero .hero-img img{
        width:80%;
        /* height:100%; */
    }
}