.headerContainer{
    background-color: rgb(255, 255, 255); 
    max-width: 480px; 
    width: 100%;
    position: fixed; 
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 6px 0px; 
    height: 60px; 
    padding: 0 10px; 
    top: 0px; 
    z-index: 2; 
    align-items: center; 
    display: flex; 
    padding-top: 0px; 
    padding-right: 10px; 
    padding-bottom: 0px; 
    padding-left: 10px;
}

.sideNavIcon { 
    overflow: hidden; 
    position: relative; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.menu_items { 
    position: absolute; 
    right: 10px;
    align-items: center; 
    display: flex;
}
.sideNavIcon > img  { 
    height: 14px; 
    width: 16.5px;
} 

.navLogo > img  { 
    height: 4rem; 
    width: 4rem;
}

.menu_items > .box  { 
    align-items: center; 
    display: flex;
} 

.menu_items > .box  { 
    background-color: rgb(248, 248, 248); 
    border: 1px solid #ededed; 
    border-radius: 3px; 
    height: 30px; 
    position: relative; 
    text-decoration: none; 
    width: 90px; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(237, 237, 237); 
    border-right-color: rgb(237, 237, 237); 
    border-bottom-color: rgb(237, 237, 237); 
    border-left-color: rgb(237, 237, 237); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px; 
    border-bottom-left-radius: 3px; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

.moneyIcon_container { 
    overflow: hidden; 
    position: relative; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.moneyBox_add { 
    background-color: rgb(237, 237, 237); 
    bottom: 0px; 
    position: absolute; 
    right: 0px; 
    top: 0px; 
    height: 100%; 
    width: 17px;
} 

.moneyIcon_container > img  { 
    width: 20px; 
    margin-left: 4px;
} 

.moneyBox_header { 
    color: rgb(149, 149, 149); 
    font-size: 0.6em; 
    font-weight: 500; 
    text-transform: uppercase;
} 

.moneyBox_text { 
    color: rgb(44, 44, 44); 
    font-size: 0.8em; 
    font-weight: 900; 
    position: relative; 
    bottom: 4px;
} 

.moneyBox_add > img  { 
    height: 9px; 
    width: 9px; 
    margin-left: 5px;
} 




